<div class="logo">
    <img src="{{htmlSet.imagesFolder}}/logo.png" alt="{{copyRight.name}} Logo" />
</div>
<ul>
    <li><a {{#ifEquals active 1}}class="active"{{/ifEquals}} href="/">Kezdőlap</a></li>
    <li><a {{#ifEquals active 2}}class="active"{{/ifEquals}} href="/work">Feladat</a></li>
    <li><a {{#ifEquals active 3}}class="active"{{/ifEquals}} href="/contact">Kapcsolat</a></li>
    <li style="float:right"><a class="highlited" href="/about">Rólunk</a></li>
</ul>
