<!DOCTYPE html>
<html lang="{{htmlSet.language}}">
<head>
    {{>head}}
</head>
<body>
    <header>
        {{>header}}
    </header>
    {{>main}}
    <footer>
        {{>footer}}
    </footer>
</body>
</html>
