input[type=text], input[type=email], input[type=phone], textarea {
    width: 100%;
    padding: 8px 12px;
}
  
input[type=submit] {
    width: 100%;
    padding: 14px 20px;
}

label {
    font-weight: bold;
}

textarea {
    max-width: 100%;
    min-width: 100%;
}
