:root {
    --mainWidth: 35%;
    --mainWidtMin: 626px;
    --mainBlue: 33, 92, 202;
    --mainBlueHover: 36, 108, 241;
    --mainBlueActive: 30, 79, 172;
    --mainBlueActiveButton: 27, 68, 143;
    --mainBlueMiddlePage: 0, 191, 255;
    --mainBlueBackground: 13, 153, 235;
    --mainShadow: 7, 31, 99, 0.75;
    --mainNavColor: 51, 51, 51;
    --mainNavSelectedColor: 72, 72, 72;
}


body {
    background-color: rgb(var(--mainBlueBackground));
    background-image: linear-gradient(to right, rgb(var(--mainBlue)), rgb(var(--mainBlueMiddlePage)), rgb(var(--mainBlue)));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white;
    text-align: justify;
}


@media only screen and (max-width: 800px) {
    body {
        background-image: none;
    }
}

header {
    width: var(--mainWidth);
    min-width: var(--mainWidtMin);
    margin: auto;
    margin-top: 40px;
}

.logo {
    margin: auto;
    margin-bottom: 15px;
    padding: 0; 
}

.logo img {
    display: block;
    margin: auto;
    height: 85px;
    width: auto;
}

header ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: rgb(var(--mainNavColor));
    box-shadow: 8px 8px 5px 0px rgba(var(--mainShadow));
}

header li {
    float: left;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover:not(.highlited) {
    background-color: rgb(var(--mainBlue));
}

header li a:active:not(.highlited) {
    background-color: rgb(var(--mainBlueActive));
}

header li .highlited:hover {
    background-color:  rgb(var(--mainBlueHover));
}

header li .highlited:active {
    background-color: rgb(var(--mainBlueActive));
}

.highlited {
    background-color: rgb(var(--mainBlue));
}

.active {
    background-color: rgb(var(--mainNavSelectedColor));
}

.main {
    background-color: rgba(var(--mainBlue), 0.62);
    box-shadow: 8px 8px 5px 0px rgba(var(--mainShadow));
    margin: auto;
    margin-top: 16px;
    width: calc(var(--mainWidth) - 50px);
    min-width: calc(var(--mainWidtMin) - 50px);
    padding: 22px 25px 22px 25px;
}

.main :last-child{
    margin-bottom: 0px;
}

.main :first-child{
    margin-top: 0px;
}

footer {
    margin: auto;
    width: var(--mainWidth);
    min-width: var(--mainWidtMin);
    text-align: center;
    text-shadow: 3px 3px 5px black;
}

h1, h2 {
    text-shadow: 3px 3px 5px rgba(var(--mainShadow));
}

table {
    border-collapse: collapse;
    text-align: center;
}

table, td, th {
    border: 1px solid white;
    padding: 10px;
    background-color: rgb(var(--mainBlue));
}

button, input[type=button], input[type=submit] {
    background-color: rgb(var(--mainBlueActive));
    color: white;
    padding: 6px 10px;
    margin: 8px 0 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

button:hover, input[type=button]:hover, input[type=submit]:hover {
    background-color: rgb(var(--mainBlue));
}

button:hover, input[type=button]:active, input[type=submit]:active {
    background-color: rgb(var(--mainBlueActiveButton));
}

input[type=text], input[type=email], input[type=phone], textarea {
    margin: 8px 0;
    padding: 4px 6px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.spoiler {
    overflow: hidden;
}
  
.spoiler>div {
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    transition: all 1s ease;
}

.spoilerbutton[value="Mutat"]+.spoiler>div {
    max-height: 0;
}

.spoilerbutton[value="Elrejt"]+.spoiler>div {
    max-height: 200px;
}

.main a:link {
    color: white;
}
  
.main a:visited {
    color: white;
}
  
.main a:hover {
    color: var(--mainBlueMiddlePage);
}
  
.main a:active {
    color: var(--mainBlueMiddlePage);
}
