:root {
    --mainWidth: 35%;
    --mainWidthMin: 630px;
    --mainWidthMax: 1255px;
}

.theme-blue {
    --mainColor: 33, 92, 202;
    --mainColorHover: 36, 108, 241;
    --mainColorActive: 30, 79, 172;
    --mainColorActiveButton: 27, 68, 143;
    --mainColorMiddlePage: 0, 191, 255;
    --mainColorBackground: 13, 153, 235;
    --mainShadow: 7, 31, 99;
    --mainNavColor: 51, 51, 51;
    --mainNavSelectedColor: 72, 72, 72;
    --mainFontColor: 255, 255, 255;
    --logo: url("../images/logo_blue.png");
}

.theme-green {
    --mainColor: 26, 146, 26;
    --mainColorHover: 30, 170, 30;
    --mainColorActive: 7, 126, 25;
    --mainColorActiveButton: 19, 102, 19;
    --mainColorMiddlePage: 0, 240, 0;
    --mainColorBackground: 12, 209, 12;
    --mainShadow: 5, 58, 5;
    --mainNavColor: 51, 51, 51;
    --mainNavSelectedColor: 72, 72, 72;
    --mainFontColor: 255, 255, 255;
    --logo: url("../images/logo_green.png");
}

.theme-purple {
    --mainColor: 128, 26, 179;
    --mainColorHover: 145, 30, 202;
    --mainColorActive: 104, 26, 143;
    --mainColorActiveButton: 86, 26, 122;
    --mainColorMiddlePage: 200, 70, 240;
    --mainColorBackground: 192, 12, 237;
    --mainShadow: 71, 8, 94;
    --mainNavColor: 51, 51, 51;
    --mainNavSelectedColor: 71, 71, 71;
    --mainFontColor: 255, 255, 255;
    --logo: url("../images/logo_purple.png");
}

body {
    background-color: rgb(var(--mainColorBackground));
    background-image: linear-gradient(to right, rgb(var(--mainColor)), rgb(var(--mainColorMiddlePage)), rgb(var(--mainColor)));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(var(--mainFontColor));
    text-align: justify;
}

@media only screen and (max-width: 900px) {
    body {
        background-image: none;
    }
}

header {
    width: var(--mainWidth);
    min-width: var(--mainWidthMin);
    max-width: var(--mainWidthMax);
    margin: auto;
    margin-top: 40px;
}

.logo {
    margin: auto;
    margin-bottom: 15px;
    padding: 0; 
}

.logo img {
    display: block;
    margin: auto;
    height: 85px;
    width: auto;
    content: var(--logo);
}

header ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: rgb(var(--mainNavColor));
    box-shadow: 8px 8px 5px 0px rgba(var(--mainShadow), 0.75);
}

header li {
    float: left;
}

header li a {
    display: block;
    color: rgb(var(--mainFontColor));
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover:not(.highlited) {
    background-color: rgb(var(--mainColor));
}

header li a:active:not(.highlited) {
    background-color: rgb(var(--mainColorActive));
}

header li .highlited:hover {
    background-color:  rgb(var(--mainColorHover));
}

header li .highlited:active {
    background-color: rgb(var(--mainColorActive));
}

.highlited {
    background-color: rgb(var(--mainColor));
}

.active {
    background-color: rgb(var(--mainNavSelectedColor));
}

.main {
    background-color: rgba(var(--mainColor), 0.62);
    box-shadow: 8px 8px 5px 0px rgba(var(--mainShadow), 0.75);
    margin: auto;
    margin-top: 16px;
    width: calc(var(--mainWidth) - 50px);
    min-width: calc(var(--mainWidthMin) - 50px);
    max-width: calc(var(--mainWidthMax) - 50px);
    padding: 22px 25px 22px 25px;
    overflow: hidden;
}

.main :last-child {
    margin-bottom: 0px;
}

.main :first-child {
    margin-top: 0px;
}

.main .title {
    margin-bottom: 5px;
}

.main .title h2 {
    display: inline-block;
    margin: 0;
}

.colorSwitch {
    margin-top: 0px;
    float: right;
}

.colorSwitchBtn {
    border-radius: 0px;
    margin: 0px;
    float: right;
}

.colorSwitchBtnActive {
    background-color: rgb(var(--mainColorActiveButton));
}

footer {
    margin: auto;
    width: var(--mainWidth);
    min-width: var(--mainWidthMin);
    max-width: var(--mainWidthMax);
    text-align: center;
    text-shadow: 3px 3px 5px black;
}

footer p {
    margin-top: 14px;
}

h1, h2 {
    text-shadow: 3px 3px 5px rgba(var(--mainShadow));
}

table {
    border-collapse: collapse;
    text-align: center;
}

table, td, th {
    border: 1px solid rgb(var(--mainFontColor));
    padding: 10px;
    background-color: rgb(var(--mainColor));
}

.invisible
{
   border:none;
}

.messages {
    background-color: rgba(var(--mainColorActive), 0.62);
    overflow: hidden;
    padding: 10px;
}

button, input[type=button], input[type=submit] {
    background-color: rgb(var(--mainColorActive));
    color: rgb(var(--mainFontColor));
    padding: 6px 10px;
    margin: 8px 0 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

button:hover, input[type=button]:hover, input[type=submit]:hover {
    background-color: rgb(var(--mainColor));
}

button:active, input[type=button]:active, input[type=submit]:active {
    background-color: rgb(var(--mainColorActiveButton));
}

input[type=text], input[type=email], input[type=phone], textarea {
    margin: 8px 0;
    padding: 4px 6px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.spoiler {
    overflow: hidden;
}
  
.spoiler>div {
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    transition: all 1s ease;
}

.spoilerbutton[value="Mutat"]+.spoiler>div {
    max-height: 0;
}

.spoilerbutton[value="Elrejt"]+.spoiler>div {
    max-height: 200px;
}

.main a:link, footer a:link {
    color: rgb(var(--mainFontColor));
}
  
.main a:visited, footer a:visited {
    color: rgb(var(--mainFontColor));
}

footer a:link {
    text-decoration: none;
}
  
.main a:hover {
    color: rgb(var(--mainColorMiddlePage));
}
  
.main a:active {
    color: rgb(var(--mainColorMiddlePage));
}
