<h2>Rólunk</h2>
<ul>
    <li><b>Cégnév:</b> {{copyRight.name}}</li>
    <li><b>Székhelye:</b> 6724, Szeged</li>
    <li><b>Telefon:</b> +36123456789</li>
    <li><b>E-mail:</b> info@example.hu</li>
</ul>
<h4>Térkép:</h4>
<div class="mapouter"><div class="gmap_canvas"><iframe width="576" height="350" id="gmap_canvas" src="https://maps.google.com/maps?q=Szeged%2C%20mars%20t%C3%A9r&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/1/">page</a></div><style>.mapouter{position:relative;text-align:right;height:350px;width:576px;}.gmap_canvas {overflow:hidden;background:none!important;height:350px;width:576px;}</style></div>
<br />
