body {
    background-image: linear-gradient(to right, rgb(33, 92, 202),deepskyblue,rgb(33, 92, 202));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white;
    text-align: justify;
}

footer {
    width: 626px;
    margin: auto;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0);
}

h1, h2 {
    text-shadow: 3px 3px 5px rgba(7, 31, 99, 0.75);
}

#tartalom {
    background-color: rgba(33, 92, 202, 0.623);
    box-shadow: 8px 8px 5px 0px rgba(7, 31, 99, 0.75);
    margin: auto;
    margin-top: 15px;
    width: 576px;
    padding: 25px;
    padding-top: 5px;
  	padding-bottom: 8px;
}

.navUl {
    list-style-type: none;
    width: 626px;
    margin: auto;
    margin-top: 50px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    box-shadow: 8px 8px 5px 0px rgba(7, 31, 99, 0.75);
}
  
.navLi {
    float: left;
}
  
.navLi a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navLi a:hover:not(.active) {
    background-color:  rgba(33, 92, 202);
}

.navLi .active:hover {
  background-color:  rgb(36, 108, 241);
}
  
.active {
    background-color: rgba(33, 92, 202);
}

.spoilerbutton {
    display: inline-block;
    margin-bottom: 5px;
    background-color: rgba(33, 92, 202);
    color: white;
    padding: 6px 10px;
    margin: 8px 0;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.spoilerbutton:hover {
    background-color: rgb(36, 108, 241);
}

.spoiler {
    overflow: hidden;
}
  
.spoiler>div {
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    transition: all 1s ease;
}

.spoilerbutton[value="Mutat"]+.spoiler>div {
    max-height: 0;
}

.spoilerbutton[value="Elrejt"]+.spoiler>div {
    max-height: 250px;
}

.link:link {
    color: white;
}

.link:visited {
    color: white;
}

.link:hover {
    color: deepskyblue;
}

.link:active {
    color: deepskyblue;
}
